<style>
    .container-fluid > .col-sm-8{
        background-color: #d5fdffd9;
        margin: 8% auto;
    }
    img{
        width:60%;
    }
    .img-cls{
        text-align: center;
    }
    .row > .col{
        text-align: center;
    }
    @media screen and (max-width:360px) {
        img{
        width:30%;
    } 
    }
</style>
<div class="container-fluid">
    <div class="col-sm-8 p-4 rounded-4">
        <div class="row">
            <div class="col mb-5">
                <p class="h2">Log In To Angular</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 img-cls">
                <img src="../assets/Logo/image">
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="text" class="form-control mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control mb-3">
                <a href="#" class="link-primary">Forget Password</a><br>
                <input type="button" class="btn btn-primary mt-5" value="LogIn">
            </div>
        </div>
        <div class="row">
            <div class="col mt-5">
                <p>Don't have account? <a href="#" class="link-primary">Register</a></p>
            </div>
        </div>
    </div>
</div>